body{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex :1;
}


/* button */
.add-btn{
    background-color: purple !important;
    border: none !important;
}

/* show page */
 .show-img{
    height: 40vh;
 }

 .btns{
    display: flex;

 }

.navbar{
    background-color: purple !important;
    color: white !important;
    height:5rem;
}

.fa-compass{
    color: white;
}

.nav-link{
    color:white !important;
}


/* footer */

.f-info-links{
    text-decoration:none;
    color: #222222;
}

/* .f-info-links a:hover{
    text-decoration: underline;
} */

.f-info-socials, .f-info-links, .f-info-brand{
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
}

.f-info-socials i {
    font-size: 1.2 rem;
    margin-right: 1rem;
}

.f-info{
   text-align: center;
   height: 8rem;
   background-color: #ebebeb;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: space-evenly;
}

/* cards */

.card{
    border: none !important;
    margin-bottom: 3rem;
    margin-left: 160px;
    

}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover!important;
}

.card-body{
    padding: 0 !important;
}
.card-text p{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}

.home-div{
    margin-top: 100px;
    margin-left: 50px;
    text-align: center;
   
}

.home-header{
    text-decoration: underline;
}

.nav-heading{
    color: purple;
}


/* login page */
.container-login {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label-form {
    display: block;
    margin-bottom: 5px;
}

input-form[type="text"],
input-form[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button-form {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button-form:hover {
    background-color: #0056b3;
}

/* sidebar */
/* body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
} */

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: aliceblue; /* Purple color */
    padding-top: 80px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 10px;
    text-align: center;
}

.sidebar ul li a {
    color: black;
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover {
    background-color: purple;
    color:white;
    border-radius: 5px; /* Lighter purple color on hover */
}

.sidebar ul li img {
    max-width: 80px;
    margin-bottom: 10px;
}

.content {
    margin-left: 250px; /* Adjusted for the width of the sidebar */
    padding: 20px;
}
.sidebar-list{
    
}

.user-logo{
    
}