<% layout("/layouts/boilerplate.ejs") %>
<body>
    <div class="home-div" >
    <h1 style="color: purple;" class="home-header">DigitalFlake Hackathon</h1><br>
    <P style="color: purple;" class="home-subheader"><i>Welcome to DigitalFlake Admin panel</i></P>
</div>
</body>