<nav class="navbar navbar-expand-md  border-bottom sticky-top ">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"style="color:white;"><i class="fa-solid fa-d"></i></a>
      <h2 style="color:white;">digitalFlake</h2>
      <button class="navbar-toggler" type="button" i>data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" aria-current="page" href="/">Home</a>
          <a class="nav-link" href="/listings">All Products</a>
          <a class="nav-link" href="/listings/new">Add new Product</a>
         
          <a href="" style="color:white;margin-left:950px;
          "><i class="fa-solid fa-user"></i></a>
        </div>
      </div>
    </div>
  </nav>

  