
<div class="sidebar">
    <ul>
        <li class="sidebar-list">
            <a href=""><i class="fa-solid fa-house"></i></a>
            <a href="#">Home</a>
            <hr>
        </li>
        <li class="sidebar-list">
            <a href=""><i class="fa-solid fa-list"></i></a>
            <a href="#">Category</a>
            <hr>
        </li>
        <li class="sidebar-list">
            <a href=""><i class="fa-brands fa-product-hunt"></i></a>
            <a href="#">Product</a>
            <hr>
        </li>
    </ul>
</div>




